$header-width:100%;
$header-height:8rem;
$header-height-mb:14rem;
$header-background:#1d1c1cc2;

$banner-width:100%;
$banner-height:100%;

$banner-height-mb:100%;

$category-width:100%;
$category-height:100%;
$category-background:#0d1013;

$new-arrivals-width:100%;
$new-arrivals-background:black;

$introduction-width:100%;
$introduction-background:#151414;

$special-menu-width:100%;
$special-menu-background:#131111;

$about-us-width:100%;
$about-us-background:#151414;

$about-market-width:100%;
$about-market-background:#131111;

$banner1-width:100%;
$banner1-background:url('./../../Assets/images/bg-2_1ba74f1b-a4a1-4afa-98cc-a5ba05cbd3b9_1920X.webp');

$posts-width:100%;
$posts-background:#151414;

$footer-width:100%;
$footer-background:#222327;

/** use for mobile and ipad **/

$color-menu-mobile-text:#4b5063;

/** text color **/
$title-text-color:#33567d;
$text-color:#4b5063;
/** fonts size **/
/** for text **/
$medium-text-font-size:1.1rem;
$small-text-font-size:0.9rem;
$less-text-font-size:.8rem;

/** for title **/
$big-title-font-size:2.2rem;
$bigger-title-font-size:2.5rem;

$medium-title-font-size:1.6rem;
$small-title-font-size:1.1rem;
$less-title-font-size:.9rem;

/** font-family **/
$main-font:'Glegoo', sans-serif;