@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
*{
	margin:0;
	padding:0;
}
body{
	width:100%;
	font-family: 'PT Sans', sans-serif;
	background-color:black;
}
a{
	text-decoration:none;
}
.container{
	width:95%;
	margin:0 auto;
}
.animate{
	border:0.5px solid #333435;
	position:relative;
	display:block;
	margin:1.5rem 0;
	&:before,&:after{
		content:'';
		width:10px;
		height:10px;
		background-color:#4d5052;
		position:absolute;
		top:50%;
		transition:.5s;
	}
}


/** ============= Form =========== **/
.form-group{
	width:100%;
	margin:0.5rem 0;
}

/** ========== buttons =========== **/
.btn{
	outline:none;
	border:none;
	cursor:pointer;
	background-color:transparent;
}
/** =========== Flex ============== **/
.flex{
	display:flex;
}
.flex-column{
	flex-direction:column;
}
.flex-row{
	flex-direction:row;
}
.flex-wrap{
	flex-wrap:wrap;
}
/** =========== column ============= **/
.column-50{
	width:50%;
}
.column-40{
	width:40%;
}
.column-25{
	width:25%;
}
.column-20{
	width:20%;
}
.column-33{
	width:33.33%;
}
/** =========== margin ============== **/
// 1 unit = 5px max is 7 unit
.mt-3{
	margin-top:15px;
}
.mt-4{
	margin-top:20px;
}
.mt-5{
	margin-top:25px;
}

@import 'variables.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'animation.scss';
@import 'layoutResponsive.scss';

/** btn-scroll-top **/
#btn-scroll-top{
	background-color:#4d618a;
	color:white;
	width:50px;
	height:50px;
	text-align: center;
	line-height:50px;
	font-size:20px;
	position:fixed;
	bottom:5rem;
	right:1rem;
	border-radius:100%;
	outline:none;
	border:none;
	cursor:pointer;
	z-index:1000;
}